@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.eot");
  src: local("☺"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype"), url("../fonts/DMSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.eot");
  src: local("☺"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype"), url("../fonts/DMSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.padding25 {
  padding: 0 250px;
}

.mgLeft10 {
  margin-left: 100px;
}

h2.black {
  color: #476667;
  font: 400 72px "DMSans";
  line-height: 1.2;
}

h2.pink {
  font: 400 72px "DMSans";
  color: #c28283;
  letter-spacing: -5px;
}

.intro {
  background: linear-gradient(90deg, #f9e8eb 0%, rgba(249, 232, 235, 0.85) 65%, rgba(71, 102, 103, 0.65) 100%), url("../images/galeria-4.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
  border-radius: 0 0 50% 50%/0 0 50px 50px;
}
.intro .header {
  padding-top: 70px;
  box-sizing: content-box;
}
.intro .header__content {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  opacity: 0.5;
}
.intro .header .nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.intro .header .nav__link {
  color: #476667;
  font: 400 16px "DMSans";
  transition: all 0.5s ease;
  padding: 10px 0;
}
.intro .header .nav__link:hover {
  color: #c28283;
  transition: all 0.5s ease;
}
.intro .header .logo img {
  height: 70px;
  display: block;
}
.intro__content {
  display: flex;
  margin-top: 90px;
}
.intro__text {
  width: 54%;
}
.intro__description {
  color: #c28283;
  font: 400 18px "DMSans";
  margin-top: 18px;
  line-height: 1.7;
}
.intro__photos img {
  width: 29vw;
}
.intro__links {
  margin-top: 70px;
}
.intro__link {
  color: white;
  background: #c28283;
  padding: 20px 40px;
  font: 400 18px "DMSans";
  border-radius: 36px;
  transition: all 0.5s ease;
}
.intro__link.about-us {
  background: #476667;
  margin-right: 30px;
}
.intro__link:hover {
  box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  -webkit-box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  -moz-box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  transition: all 0.5s ease;
}

.we-are {
  display: flex;
  margin-top: 95px;
}
.we-are__photos {
  position: relative;
}
.we-are__photos svg {
  position: absolute;
  bottom: 30px;
  left: 340px;
  width: 265px;
}
.we-are__content {
  margin: 108px 23% 0 15%;
}
.we-are__category {
  font: 400 16px "DMSans";
  color: #c28283;
  letter-spacing: 3px;
}
.we-are__description p {
  font: 400 16px "DMSans";
  color: #476667;
  line-height: 1.8;
  margin-top: 18px;
}
.we-are__services {
  margin-top: 120px;
}
.we-are__services ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 18px "DMSans";
  color: #c28283;
}

.footer {
  height: 50px;
  font: 400 14px "DMSans";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #476667;
}

/*# sourceMappingURL=style.css.map */
